<ul class="sidenav sidenav-fixed z-depth-2">
  <li class="ob-sidenav-header ob-primary">
    <div class="row">
      <div class="col s12 center-align">
        <%= link_to root_path do %><h3 class="white-text">oluprofile</h3><% end %>
        <%= render :partial => "layouts/oluprofile/env" if rails_env.present? %>
        <% if current_user %>
          <span class="btn-flat white-text"><%= current_user.email %></span>
        <% end %>
      </div>
    </div>
  </li>

  <%= render :partial => "layouts/oluprofile/navlinks" if current_user %>
  <%= render :partial => "layouts/oluprofile/login" unless current_user %>

</ul>